*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #fff;
}

.blurred-bg{
    filter: blur(8px);
}




/* ----------modal---------- */
.modal-container{
    position: fixed;
    background-color: #2b2c2f;
    max-width: 800px;
    width: 800px;
    max-height: 1600px;
    left: 50%;  
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 8px;
    align-items: center;
    display: none;
}

.overlay{
    height: 100%;
    width: 100vh;
    background: rgba(33, 33, 33, 0.7);
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
}

.exit-modal{
    padding: 15px 80px;
    background-color: #F5A627;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 55px;
    width: 100%;
    cursor: pointer;
}

.exit-modal:hover{
    opacity: 0.7;
}

.modal-box{
    text-align: center;
}

#popupImage{
    max-width: 100%;
    max-height: 500px;
    height: auto;
    object-fit: contain;
}





/* ----------navbar---------- */
nav{
    background-color: #202124;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

nav .nav-wrap{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 16px 12%;
    min-height: 60px;
}

nav .menu-wrap{
    transition: all 0.8s ease-in-out;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 0 20px;
   
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.8;
    position: relative;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    height: 2px;
    width: 22px;
    background: #fff;
    margin: 6px 0;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    border-radius: 20px;
    background: #F5A627;
    position: absolute;
    left: 0;
    bottom: -6px;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.5s;
}

.nav-expand{
    transform: translate(0)!important;
}

.hamburger-animate .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger-animate .bar:nth-child(2){
    opacity: 0;
}

.hamburger-animate .bar:nth-child(3){
    transform: translateY(-8px) rotate(135deg);
}


/* ----------hero-section---------- */
.header{
    height: 100vh;
    background-color: #121010;
    filter: brightness(80%);
    overflow: hidden;
    z-index: 9998;
}

.header-text{
    padding: 12% 12%;
    color: #fff;
}

.header-text p{
    font-size: 20px;
    opacity: 0.8;
    font-weight: 300;
}

.header-text h1 span{
   color: #F5A627;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight: 500;
}

.header-text h3{
    font-size: 28px;
    margin-top: 20px;
    font-weight: 430;
}

.resume-btn{
    margin-top: 50px;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #F5A627;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: #F5A627;
    
    transition: transform 0.3s ease-in 0s;
}

.resume-btn:hover{
    background-color: #F5A627;
    color: #f9f9f9;
    transform: translateY(-12px);
    border: 2px solid transparent;
}

@keyframes movingRectSquare{
    0%{
        transform: translateY(0%) rotate(0deg);
    }

    100%{
        transform: translateY(100vh) rotate(360deg);
    }
}

@keyframes movingCircle{
    0%{
        transform: translateY(0%) rotate(0deg);
    }

    100%{
        transform: translateY(100vh) rotate(360deg);
    }
}

.rectangle{
    position: absolute;
    width: 240px;
    height: 110px;
    top: 10%;
    left: 80%;
    background: hsla(197, 100%, 63%, 1);

    background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#F173FF", GradientType=1 );
    border-radius: 10px;
    animation: movingRectSquare 6s linear infinite;
    z-index: 9999;
}

.circle{
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: hsla(197, 100%, 63%, 1);

    background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
    background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
    background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#F173FF", GradientType=1 );
    top: 10%;
    left: 65%;
    animation: movingCircle 6s linear infinite;
    z-index: 9999;
}

.square{
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 10px;
    background: hsla(197, 100%, 63%, 1);

    background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#F173FF", GradientType=1 );
    top: 24%;
    left: 50%;
    animation: movingRectSquare 6s linear infinite;
    z-index: 9999;
}




/* ----------about---------- */
@keyframes slide{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-60px);
    }
}

.about{
    background: #202124;
}

.about-container{
    padding: 80px 12%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
}

.left-col{
    flex-basis: 40%;
    margin-top: 30px;
    animation: slide 1.3s infinite alternate;
}

.left-col img{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 8px 8px 10px rgba(33, 33, 33, 0.7)
}

.col-2{
    flex-basis: 50%;
    margin-top: 30px;
}

.subtitle{
    font-weight: 600;
    font-size: 60px;
}

.about-text{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.tab-title{
    display: flex;
    margin: 30px 0 40px;
}

.tab-links{
    font-size: 18px;
    margin-right: 50px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    bottom: -8px;
    background: #F5A627;
    position: absolute;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 30%;
}

.tab-contents ul li{
    list-style: none;
    margin: 15px 0;
    font-weight: 400;

}

.tab-contents ul li span{
    color: #F5A627;
    font-size: 16px;
    font-weight: 500;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}




/* ----------portfolio---------- */
.portfolio{
    color: #f9f9f9;
    background-color: #202124;
}

.portfolio-container{
    padding: 80px 18%;
}

.tabs{
    display: flex;
    margin: 25px auto 0;
    padding: 15px 5px 15px;
    background-color: #262626;
    width: fit-content;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 10px 10px 16px rgb(26, 24, 24);
}

.tab{
    padding: 10px 15px;
    border: 1px solid #F5A627;
    background-color: transparent;
    margin: 0 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}

.tab h3{
    font-size: 16px;
}

.tabs .active-link{
    background-color: #F5A627;
    border: transparent;
}

.portfolio .subtitle{
    font-size: 60px;
    text-align: center;
    /* color: #262626; */
}

.tabs{
    flex-basis: 100%;
}

.showcase-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    row-gap: 40px;
    column-gap: 30px;
    margin-top: 50px;
}

.showcase-list .work{
    background-color: #212121;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 16px rgb(26, 24, 24);
    border: 4px solid transparent;
    cursor: pointer;
}

.work h2{
    font-size: 28px;
    font-weight: 500;
    margin-top: 25px;
    padding: 0 20px;
}

.work p{
    font-size: 16px;
    margin: 10px 0 0;
    padding: 0 20px;
}

.work a i{
    text-decoration: none;
    color: #F5A627;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    padding: 0 20px;
}

.work{
    border-radius: 10px;
    position: relative;
    transition: 0.3s ease-in-out 0s;
}

.work img{
    width: 100%;
    border-top: 12px;
    display: block;
    min-height: auto;
    height: 350px;
    max-width: 100%;
}

.work:hover{
    border: 4px solid #F5A627;
    transition: 0.3s ease-in-out 0s;
    transform: translateY(-25px)
}




/* ----------contact---------- */
.contact{
    color: #f9f9f9;
    background-color: #202124;
}

.contact-container{
    padding: 80px 12% 50px;
}

.contact-left{
    flex-basis: 50%;
}

.contact-right{
    flex-basis: 50%;
}

.contact-left h1{
    color: #f9f9f9;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #F5A627;
    margin-right: 15px;
    font-size: 24px;
}

.social{
    margin-top: 30px;
}

.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;

    transition: 0.2s ease-in 0s;
}

.social a:hover{
    color: #F5A627;
    transform: translateY(-7px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 20px 0 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
}

form button{
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px 45px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: #F5A627;
    cursor: pointer;
    color: #fff;
    font-weight: 600;

    transition: 0.3s ease-in 0s;
}

form button:hover{
    border: 2px solid #F5A627;
    color: #F5A627;
    background-color: transparent;
    transform: translateY(-25px);
}




/* ----------copyright---------- */
.copyright{
    padding: 40px 30px 30px;
    background-color: #F5A627;
}

.copyright p{
    text-align: center;
    font-size: 16px;
    color: #262626;
    font-weight: 500;
}

.social-icons{
    margin-top: 20px;
    text-align: center;
}

.social-icons a{
    font-size: 30px;
    margin-right: 15px;
    color: #202124;
}

.social-icons a i:hover{
    transform: translateY(-7px);
    color: #ababab;
    transition: 0.3s ease-in 0s;
}




@media only screen and (max-width: 600px){
    /* ----------modal---------- */
.modal-container{
    position: fixed;
    background-color: #2b2c2f;
    max-width: 900px;
    max-height: 800px;
    width: 100%;
    left: 50%;  
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 8px;
    align-items: center;
    display: none;
}

.overlay{
    height: 100%;
    width: 100vh;
    background: rgba(33, 33, 33, 0.7);
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0);
}

.exit-modal{
    padding: 10px 20px;
    background-color: #F5A627;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    font-weight: 400;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 55px;
    width: 100%;
    cursor: pointer;
}

.exit-modal:hover{
    opacity: 0.7;
}

.modal-box{
    text-align: center;
}

#popupImage{
    width: auto;
    max-width: 100%;
    height: 600px;
}





    /* ----------navbar---------- */
    .menu-wrap{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #202124;
        width: 100%;
        padding: 25px 0 25px;
        transform: translateX(-100%);
    }

    .hamburger{
        display: block;
    }

    nav ul{
        flex-direction: column;
        text-align: center;
        row-gap: 16px;
    }

    nav ul li a{
        font-size: 14px;
    }

    nav .nav-wrap{
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 16px 6%;
        min-height: 60px;
    }


    /* ----------hero-section---------- */
    .header-text{
        flex-basis: 100%;
        margin-top: 80px;
        padding-right: 0;
    }

    .header-text p{
        font-size: 13px;
    }

    .header-text h1{
        font-size: 26px;
    }

    .header-text h3{
        font-size: 16px;
    }

    .landing-section{
        display: contents;
        margin: 20px 0;
    }

    .rectangle{
        position: absolute;
        width: 100px;
        height: 40px;
        top: 10%;
        left: 80%;
        background: hsla(197, 100%, 63%, 1);
    
        background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
        background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
        background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#F173FF", GradientType=1 );
        border-radius: 10px;
        animation: movingRectSquare 8s linear infinite;
    }
    
    .circle{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: hsla(197, 100%, 63%, 1);
    
        background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
        
        background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
        
        background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
        
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#F173FF", GradientType=1 );
        top: 40%;
        left: 75%;
        animation: movingCircle 8s linear infinite;
    }
    
    .square{
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        background: hsla(197, 100%, 63%, 1);
    
        background: linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
        background: -moz-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
        background: -webkit-linear-gradient(45deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 73%, 1) 100%);
    
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#F173FF", GradientType=1 );
        top: 24%;
        left: 65%;
        animation: movingRectSquare 8s linear infinite;
    }



    
    /* ----------about---------- */
    .col-1, .col-2{
        flex-basis: 100%;
    }

    .about .subtitle{
        font-size: 40px;
    }

    .about-text{
        font-size: 16px;
    }

    .tab-contents ul li span{
        color: #F5A627;
        font-size: 14px;
        font-weight: 500;
    }

    .tab-contents ul li{
        list-style: none;
        margin: 15px 0;
        font-weight: 400;
        font-size: 16px;
    }





    /* portfolio */
    .portfolio{
        padding: 0;
    }

    .portfolio-container{
        padding: 0 12%;
    }

    .portfolio .subtitle{
        font-size: 40px;
    }
    .showcase-list{
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .tabs{
        display: flex;
        margin: 25px auto 0;
        padding: 10px 5px 10px;
        background-color: #262626;
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: 10px 10px 16px rgb(26, 24, 24);
    }
    
    .tab{
        padding: 6px 8px;
        border: 1px solid #F5A627;
        background-color: transparent;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.5s;
    }
    .work h2{
        font-size: 24px;
    }
    
    .work p{
        font-size: 14px;
    }
    
    .work a i{
        text-decoration: none;
        color: #F5A627;
        font-size: 20px;
        display: inline-block;
        margin-top: 20px;
        padding: 0 20px;
    }

    .work:hover{
        border: 4px solid transparent;
        transform: scale(1);
    }

    .tabs{
        width: fit-content;
    }




    /* ----------contact---------- */
    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .contact .subtitle{
        font-size: 40px;
    }

    .social a{
        margin-top: 40px;
        font-size: 24px;
    }

    .contact-right{
        padding: 40px 0;
    }

    form button{
        width: 100%;
    }

    form button:hover{
        background-color: #F5A627;
        color: #fff;
        transform : translateY(0);
        border: 2px solid transparent;
    }




    /* ----------copyright---------- */
    .copyright .fa-brands{
        font-size: 24px;
    }

    .copyright p{
        font-size: 13px;
    }
}